<html>
    <head>
        <title>Scoutmaster 9001</title>
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.6.0/semantic.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.6.0/semantic.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

    </head>
    <body>
        {% include "menu.html" %}
        <div style="margin: auto; width: 50%; text-align: center;">
            <form action="" method="post">
                <br>
                <div class="ui input">
                    <input type="text" name="username" placeholder="Username">
                </div>
                <br>
                <div style="height: .5em;"></div>
                <div class="ui input">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <br>
                <div style="height: 1em;"></div>
                <input type="submit" value="Login" class="ui teal button" />
            </form>
            {% if login_failed %}
                <div class="ui error message" style="width: 50vw;">Error: incorrect username or password</div>
            {% endif %}
        </div>
    </body>
</html>
